.button {
    background-color:#1A73E8; 
    display:flex; 
    flex-direction:row; 
    justify-content:space-between;
    align-items:center;
    padding:0.4rem
}

.button:hover {
    background-color:rgb(26, 115, 232, 0.5); 
    cursor: pointer;
}